<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>pat-leaflet demo</title>
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" href="bower_components/Leaflet.fullscreen/dist/leaflet.fullscreen.css"/>
    <link rel="stylesheet" href="bower_components/L.GeoSearch/src/css/l.geosearch.css"/>
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css"/>
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="bower_components/leaflet.locatecontrol/dist/L.Control.Locate.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="bower_components/Leaflet-MiniMap/dist/Control.MiniMap.min.css"/>
    <link rel="stylesheet" href="bower_components/Leaflet.SimpleMarkers/lib/Control.SimpleMarkers.css"/>
    <link rel="stylesheet" href="src/pat-leaflet.css"/>
    <script data-main="main" src="bower_components/requirejs/require.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/plugins/unescaped-markup/prism-unescaped-markup.min.css"/>

  </head>
  <body role="document">

    <h1>pat-leaflet demo - minimal</h1>
    <div id="map1" class="pat-leaflet" data-pat-leaflet='
    {
      "fullscreencontrol": false,
      "locatecontrol": false,
      "zoomcontrol": false,
      "map_layers": [{"title": "Map", "id": "OpenStreetMap.Mapnik"}]
    }'></div>

    <h2>Code</h2>
    <pre class="language-markup"><code><!--
    <div id="map1" class="pat-leaflet" data-pat-leaflet='
    {
      "fullscreencontrol": false,
      "locatecontrol": false,
      "zoomcontrol": false,
      "map_layers": [{"title": "Map", "id": "OpenStreetMap.Mapnik"}]
    }'></div>
    --></code></pre>

    <h1>pat-leaflet demo - full</h1>
    <div id="map2" class="pat-leaflet"
        data-pat-leaflet='{
"fullscreencontrol": true,
"locatecontrol": true,
"zoomcontrol": true,
"minimap": true,
"geosearch": true,
"geosearch_provider": "google",
"addmarker": true
}'
        data-geojson='{
"type": "FeatureCollection",
"features": [
    {
        "type": "Feature",
        "id": 1,
        "properties": {
            "popup": "reverse - copenhagen international poetry festival (dnk), copenhagen, denmark",
            "editable": true,
            "latinput": "#latinput",
            "lnginput": "#lnginput"
        },
        "geometry": {
            "type": "Point",
            "coordinates": [
                12.55568,
                55.69078
            ]
        }
    },
    {
        "type": "Feature",
        "id": 2,
        "properties": {
          "popup": "hoergeREDE (aut), graz, austria"
        },
        "geometry": {
            "type": "Point",
            "coordinates": [
                15.4382918,
                47.0708101
            ]
        }
    },
    {
        "type": "Feature",
        "id": 3,
        "properties": {
          "popup": "sarajevo days of poetry (bih), sarajevo, bosnia"
        },
        "geometry": {
            "type": "Point",
            "coordinates": [
                18.3886134,
                43.8514981
            ]
        }
    }
]}'></div>
  <input type="text" name="latitude" value="55.69078" id="latinput"/>
  <input type="text" name="longitude" value="12.55568" id="lnginput"/>

    <h2>Code</h2>
    <pre class="language-markup"><code><!--
    <div id="map2" class="pat-leaflet"
        data-pat-leaflet='{
"fullscreencontrol": true,
"locatecontrol": true,
"zoomcontrol": true,
"minimap": true,
"geosearch": true,
"geosearch_provider": "google",
"addmarker": true
}'
        data-geojson='{
"type": "FeatureCollection",
"features": [
    {
        "type": "Feature",
        "id": 1,
        "properties": {
            "popup": "reverse - copenhagen international poetry festival (dnk), copenhagen, denmark",
            "editable": true,
            "latinput": "#latinput",
            "lnginput": "#lnginput"
        },
        "geometry": {
            "type": "Point",
            "coordinates": [
                12.55568,
                55.69078
            ]
        }
    },
    {
        "type": "Feature",
        "id": 2,
        "properties": {
          "popup": "hoergeREDE (aut), graz, austria"
        },
        "geometry": {
            "type": "Point",
            "coordinates": [
                15.4382918,
                47.0708101
            ]
        }
    },
    {
        "type": "Feature",
        "id": 3,
        "properties": {
          "popup": "sarajevo days of poetry (bih), sarajevo, bosnia"
        },
        "geometry": {
            "type": "Point",
            "coordinates": [
                18.3886134,
                43.8514981
            ]
        }
    }
]}'></div>
  <input type="text" name="latitude" value="55.69078" id="latinput"/>
  <input type="text" name="longitude" value="12.55568" id="lnginput"/>

    --></code></pre>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/plugins/unescaped-markup/prism-unescaped-markup.min.js"></script>

  </body>
</html>
