.pat-leaflet { min-height: 400px; }

.fa:before {
    /* awesome markers use FontAwesome but class icon-white per default.
     * plone is overloading icon-* with fontello.
     * thus this. */
    font-family: FontAwesome !important;
}

/* Make Leaflet geosearch robust against bootstrap */
.leaflet-control-geosearch form input {
    box-shadow: none;
    transition: none;
    height: auto;
    line-height: inherit;
}
